apiVersion: v1
kind: Service
metadata:
  labels:
    app: website
  name: website
spec:
  ports:
    - name: "http"
      port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: website
